.txt-w {
  font-size: 1rem;
}

.txt-h {
  font-size: 500px;
}

.txt-pt {
  font-size: 5rem;
}

.txt-mt {
  font-size: 5rem;
}

* {
  font-family: Afacad, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.googlefonts {
  font-family: "Afacad", sans-serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Afacad", sans-serif;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Bowlby One", sans-serif;
  font-family: "Kaushan Script", cursive;
  font-family: "Libre Baskerville", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Prompt", sans-serif;
}

.grid-container {
  display: grid;
  background-color: #D6F5CA;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0, 5fr 2fr 1fr 1, 1fr;
  grid-template-areas: "header header header header" "main main main main" "aside aside aside aside " "footer footer footer footer";
}

.grid-container-plantines {
  display: grid;
  font-family: "Afacad, sans-serif";
  font-size: 18px;
  background-color: #dad1f5;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0, 5fr 2fr 1fr 1, 1fr;
  grid-template-areas: "header header header header" "main main main main" "aside aside aside aside " "footer footer footer footer";
}
.grid-container-plantines .section-redes {
  background-color: #dad1f5;
}

.grid-container-plantasinterior {
  display: grid;
  margin: 0;
  padding: 0;
  background-color: #dad1f5;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0, 5fr 2fr 1fr 1, 1fr;
  grid-template-areas: "header header header header" "main main main main" "aside aside aside aside " "footer footer footer footer";
}
.grid-container-plantasinterior .section-redes {
  background-color: #dad1f5;
}

.grid-container-quinta {
  display: grid;
  margin: 0;
  padding: 0;
  background-color: #dad1f5;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0, 5fr 2fr 1fr 1, 1fr;
  grid-template-areas: "header header header header" "main main main main" "aside aside aside aside " "footer footer footer footer";
}

.grid-container-tutoriales {
  display: grid;
  background-color: #dad1f5;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0, 5fr 2fr 1fr 1, 1fr;
  grid-template-areas: "header header header header" "main main main main" "aside aside aside aside " "footer footer footer footer";
}

.grid-container-music {
  display: grid;
  background-color: #dad1f5;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0, 5fr 2fr 1fr 1, 1fr;
  grid-template-areas: "header header header header" "main main main main" "aside aside aside aside " "footer footer footer footer";
}

.grid-container-faq {
  display: grid;
  background-color: #dad1f5;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0, 5fr 2fr 1fr 1, 1fr;
  grid-template-areas: "header header header header" "main main main main" "aside aside aside aside " "footer footer footer footer";
}

header {
  grid-area: header;
}

.pasapalabras {
  height: 30px;
  background-color: #1ed760;
  color: #000000;
  display: flex;
  justify-content: center;
  border: 1px solid #808B96;
}

.animacion-spotify {
  animation-name: spotmove;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-timing-function: linear;
}

.transform--translate {
  transform: translate(10px 20px);
  transition-duration: 5s;
  transition-delay: 1s;
}

.fondonav {
  position: sticky;
  top: 0;
  font-family: "Afacad, sans-serif";
  font-size: 19px;
  text-decoration: none;
  color: #000000;
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  padding-top: 2%;
}

header nav ul li {
  float: left;
}

header nav ul li {
  list-style: none;
}

.nav-item {
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  text-decoration: none;
  color: rgb(250, 255, 110);
}

main {
  grid-area: main;
}

.carousel-inner {
  display: flex;
  max-width: 100%;
  height: 500px;
  margin: auto;
}

.promos-container {
  background-color: #b6ebb9;
  color: #000000;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.promos-textos {
  justify-content: space-evenly;
  display: flex;
}

.video-principal-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}
.video-principal-container .video-inicio {
  justify-content: center;
  flex: 1;
}
.video-principal-container .video-texto {
  flex: 1;
  padding-top: 60px;
  padding-left: 1px;
  padding-right: 10px;
  justify-content: center;
  text-align: center;
}

.cont-img-music {
  display: flex;
  justify-content: center;
  margin: 1px;
}

.spotify-container {
  border-radius: 10px;
  margin: 5px;
  background-color: #bed4e8;
  color: #fff;
  padding: 10px;
  padding-top: 10px;
}

.faq-acordeon {
  margin: 20px;
}

.section-tarjetas-huerta {
  display: flex;
}
.section-tarjetas-huerta .card {
  display: inline-block;
  margin: 10px;
  margin-right: 5px;
}

aside {
  grid-area: aside;
}

.carta-container {
  color: #000000;
  display: flex;
  justify-content: center;
  width: 100%;
}

.nuestros-productos {
  text-align: center;
}

.section-galeria-fotos {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.section-galeria-fotos .galeria-fotos {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

footer {
  grid-area: footer;
}

.section-redes {
  background-color: #D6F5CA;
}

.logo-redes-music {
  background-color: #dad1f5;
}

.contactanos {
  text-align: center;
  font-family: "Libre Baskerville";
  border-top: 1px ridge rgb(16, 107, 69);
  background-color: #D6F5CA;
}

.contactanos-container {
  background-color: #D6F5CA;
}

.contactanos-container-productos {
  background-color: hsl(204, 16%, 65%);
  font-size: 40px;
}

.contactanos-container-music {
  background-color: #dad1f5;
}

.logo-redes {
  justify-content: space-evenly;
  height: 13svh;
  display: flex;
  align-items: center;
  padding-top: 20px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .grid-container {
    background-color: #F2D7D5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0, 5fr 2fr 1fr 1fr;
    grid-template-areas: "header header " "main main " "aside aside " "footer footer ";
  }
  .video-texto {
    padding: 3px;
    justify-content: center;
    text-align: center;
  }
  .video-inicio {
    display: flex;
    justify-content: center;
    flex: 1;
    max-width: 50%;
    max-height: auto;
  }
  .video-principal-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contactanos {
    text-align: center;
    border-top: 1px ridge #963c3c;
    background-color: #F2D7D5;
  }
  .contactanos .container {
    background-color: #F2D7D5;
    display: flex;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .fondonav {
    position: sticky;
    top: 0;
    background-color: #FDEDEC;
    color: #000000;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 10vh;
    padding-top: 2%;
  }
  .action {
    display: none;
  }
  .grid-container {
    background-color: #F2D7D5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0, 5fr 0, 2fr 0, 1fr 1fr;
    grid-template-areas: "header header " "main main " "aside aside " "footer footer ";
  }
  .carrusel-conteiner {
    display: flex;
    justify-content: center;
  }
  .bienvenidos-container {
    padding-top: 5px;
    justify-content: center;
    text-align: center;
  }
  .video-principal-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .video-principal-container .video-inicio {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100vh;
  }
  .section-redes {
    background-color: #F2D7D5;
  }
}

/*# sourceMappingURL=main.css.map */
