aside{
    grid-area: aside;
}
.carta-container{    
                color: #000000;
                display: flex;
                justify-content: center;
                width: 100%;
                background-color: $color-primario1;
    .nuestros-productos{
        font-family: $font-body;
        font-size: 25px;
        text-align: center;
    }
}
.section-galeria-fotos{
    background-color: $color-primario1;
    .galeria-fotos{
        display: inline-block;
        justify-content: center;
        margin: 8px;
        box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.102);
    } 
}

.imagen{
        display: inline-block;
        transition: transform 01s ease;
        justify-content: center;
        margin: 1px;         
}

.imagen:hover{
            transform: scale(1.1);
}
     

