.googlefonts{
    font-family: 'Afacad', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Afacad', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bowlby One', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
}