footer{
    grid-area: footer; 
}

.section-redes {
    background-color: $color-primario1;
    .logo-redes {
        margin-bottom: 15px;
        justify-content: space-evenly;
        height: 13svh;
        display: flex;
        align-items: center;
        padding-top: 20px;
    }   
}

.contactanos-container{
    max-width: 1500px; 
    background-color: #5fee22;
    display: center;
    text-align: center;
            .contactanos{
                        background-color: #5fee22;
                        text-align: center;
                        font-family: $font-title-principal;
                        border-top: 1px ridge rgb(16, 107, 69)         
                         }
}