.grid-container{
    display: grid;
    background-color: hsl(103, 68%, 88%);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0,5fr 2fr 1fr 1,1fr;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "aside aside aside aside "
    "footer footer footer footer"
    ;
  }

.grid-container-music{
  display: grid;
  margin: 0;
  padding: 0;
  background-color: #dad1f5;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0,5fr 2fr 1fr 1,1fr;
  grid-template-areas: 
  "header header header header"
  "main main main main"
  "aside aside aside aside "
  "footer footer footer footer"
  ;

}
.grid-container-tutoriales{
    display: grid;
    margin: 0;
    padding: 0;
    background-color: hsl(203, 72%, 89%);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0,5fr 2fr 1fr 1,1fr;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "aside aside aside aside "
    "footer footer footer footer"
    ;
 }
 .grid-container-plantines{
    display: grid;
    margin: 0;
    padding: 0;
    font-family:  'Afacad', sans-serif;
    background-color: #cdf5d4;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0,5fr 2fr 1fr 1,1fr;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "aside aside aside aside "
    "footer footer footer footer"
}

  



