//TABLET
@media (min-width: 768px) and (max-width: 1200px){
    .grid-container{
    display: flex;
    background-color: $color-primario2; 
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "aside aside"
    "footer footer"
    ;
    main{ 
        flex:1;
        background-color: $color-primario2; 

        .video-principal-container{
            background-color: $color-primario2;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .video-inicio{
                background-color: $color-primario2;
                display: flex;
                justify-content: center;
                flex: 1;
                max-width: 50%; 
                max-height: auto;
            }
            .video-texto{
                padding: 3px;
                justify-content: center;
                text-align: center ;
                background-color: $color-primario2;
            }
        }
        .section-galeria-fotos{
            background-color: $color-primario1;
            .galeria-fotos{
                display: inline-block;
                justify-content: center;
                margin: 8px;
            } 
        .section-tarjeta-huerta{
            display: inline-block;
            }
        }
        .carta-container{
        background-color: $color-primario2;
        }
    }

    .footer{
        display: inline-block;
        background-color: $color-primario2;
        
            .contactanos-container{
            display: flex;
            text-align: center;
            border-top: 1px ridge #963c3c;
            background-color: $color-primario2;
                .contactanos{
                    display: flex;
                }
            }
            .section-redes{
                display: flex;
                background-color: $color-primario2;
                .logo-redes{
                    justify-content: space-evenly;
                    height: 13svh;
                    display: flex;
                    align-items: center;
                    padding-top: 20px;
                }
            }
        
    }
}

//MOBILE
@media (min-width: 320px) and (max-width: 600px) {
    .grid-container {
        background-color: $color-primario2;   
        display: flex;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 0.1fr 0.5fr;
        grid-template-areas: 
        "header header"
        "main main"
        "aside aside"
        "footer footer"
        ;
        .navegador-container{
            display: inline;
        }
        main{

            flex:1;
            background-color: $color-primario2; 
            .promos-container{
                display: none;     
            }
            .video-principal-container{
                width: 100%;
                background-color: $color-primario2;
                display: flex;
                flex-direction: column;
                justify-content: center;      

                    .video-inicio{

                        overflow-y: auto;
                        background-color: $color-primario2;
                        display: block;
                        justify-content: center;
                        flex: 1;
                        max-width: 50%; 
                        max-height: auto;
                    }
                    .video-texto{
                        overflow-y: auto;
                        display: block;
                        padding: 3px;
                        justify-content: center;
                        text-align: center ;
                        background-color: $color-primario2;
                    }
            }
            .section-galeria-fotos{
                background-color: $color-primario1;
                .galeria-fotos{
                    display: inline-block;
                    justify-content: center;
                    margin: 8px;
                } 
            .section-tarjeta-huerta{
                display: inline-block;
                }
            }
            .carta-container{
            background-color: $color-primario2;
            }
            .section-tarjeta-huerta{
                display: inline-block;
            }
        }
        .footer{
            display: inline-block;
            background-color: $color-primario2;
            
                .contactanos-container{
                display: flex;
                text-align: center;
                border-top: 1px ridge #963c3c;
                background-color: $color-primario2;
                    .contactanos{
                        display: flex;
                    }
                }
                .section-redes{
                    display: flex;
                    background-color: $color-primario2;
                    .logo-redes{
                        justify-content: space-evenly;
                        height: 13svh;
                        display: flex;
                        align-items: center;
                        padding-top: 20px;
                    }
                }
    
        }
    }
}
}
