main{
    grid-area: main; 
}
.carousel-inner{
    display: flex;
    max-width: 100%;
    height: 500px;
    margin: auto; 
} 
.promos-container{
   
    background-color: #b6ebb9;
    color: $color-black;
    display: flex; 
    justify-content: space-evenly;
    width: 100%;
}
.promos-textos{
    justify-content: space-evenly;
    display: flex; 
}
.video-principal-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;

    .video-inicio{
        justify-content: center;
        flex: 1;
    }
    .video-texto{
        flex: 1;
        padding-top: 60px;
        padding-left: 01px;
        padding-right: 10px;
        justify-content: center;
        text-align: center;
    }
}

//Main de music

.cont-img-music{
    display: flex;
    justify-content: center; 
    margin: 1px;  
}
    




.spotify-container{
    @include display-a;
    padding-top: 10px;
}


//Main del faq
.faq-acordeon{
    margin: 20px;
}

//main de quinta

.section-tarjetas-huerta{
    display: flex;

    .card{   
    display: inline-block;
    margin: 10px;
    margin-right: 5px;
} 
}




