main{
    grid-area: a; 
}
.carousel-inner{
    display: flex;
    max-width: 100%;
    height: 500px;
    margin: auto; 
} 
.promos-container{
    background-color: #b6ebb9;
    color: $color-black;
    display: flex; 
    justify-content: space-evenly;
    width: 100%;
}
.promos-textos{
    justify-content: space-evenly;
    display: flex; 
}

.video-principal-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;

    .video-inicio{
        margin-left: 15px;
        justify-content: center;
        flex: 1;
    }
    .video-texto{
        
        flex: 1;
        padding-top: 60px;
        padding-left: 01px;
        padding-right: 10px;
        justify-content: center;
        text-align: center;
    }
}
//Main plantines

.plantines-contenedor1{
    display: inline-block;
    .img{
        width: 100px;
        height: 100px;
    }

}

 //Main tutoriales
.cont-img-tutoriales{
    display: flex;
    width: 100%;
}

 .tutoriales-videos1{
    display: inline-block;
 }
.tutoriales-videos2{
    display: inline-block;
    
}
.tutoriales-videos3{
    display: inline-block;
}
.tutoriales-videos4{
    display: inline-block;
}

//Main de music

.cont-img-music{
    display: flex;
    justify-content: center; 
    margin: 1px;  
}
.spotify-container{
    border-radius: 10px;
    margin: 5px;
    background-color: #bed4e8;
    color: #fff;
    padding: 10px;
    padding-top: 10px;
}


//Main del faq
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container-fluid{
   
    text-align: center;
    margin-top: 20px;

    .clas-faq-title{

        text-align: center;
        margin: 0px;
    
        .guion{
            margin: 0 auto;
            max-width: 5%; 
            height: auto;
            text-align: center;
        }
    }
}

.faq-acordeon{
    margin: 20px;
}

//main de quinta

.section-tarjeta-huerta{
    display: inline-block;

}

.section-tarjetas{
    display: flex;

    .card{   
    display: inline-block;
    margin: 5px;
    margin-right: 5px;

} 
}






