//Colores

$color-primario1: #5fee22;
$color-primario2: #F2D7D5;
$color-primario3: #e6ccb2;
$color-primario4:#cfe8f7;
$color-black: #000000;
$color-btn-hover: #a55050;
$color-pie: #d6f5c9;


//Tipografías 
$font-body: "Afacad, sans-serif";
$font-title-principal: "Libre Baskerville";

//Tamaños de tipografías
$px-body: 19px;
$px-title-h1: 20px;

//Mapas ejemplo
$colors: (
    primario: #d4c112, 
    secundario: #051661,
);

$ren:(
    w: 1rem,
    h: 500px,
    pt: 5rem,
    mt: 5rem,

);

//nombretalle talle
@each $nombretalle, $talle in $ren {
    .txt-#{$nombretalle}{
        font-size: $talle;

    }
}







