@import "vars";

@import "reset";



@import "mixin";

@import "fonts";

//Estructura principal
@import "grid";

@import "header";

@import "principal";

@import "aside";

@import "footer";


//Media Queris
@import "mediaq";
